

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #101a2f;
  overflow-y: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.container{
  padding-left: 0;
  padding-right: 0;
}

.signOut{
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    font-size: 18px;
    color: #212121;
    border: 2px solid rgb(50, 48, 50);
    border-radius: 10px;
    background-color: #55ff00;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }

  .signOut:hover {
    color: rgb(19, 19, 19);
    background-color:#9de877;

  }
