.logo{
  width: 60px;
  border: 2px solid #ff00fb ;
}

.custom-navbar{
  background-color:  #6ef52a;
}

.navlink:hover{
  color:#ff00fb !important
}

.avatar{
  width: 60px;
  border: 2px solid #ff00fb;
  border-radius: 30px;
}
